* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    background-image: url(blackmountains.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.05);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

.container h1 {
    font-size: 75px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 5px;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glass p {
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .auto-type {
    font-style: italic;
    text-decoration: underline;
}

.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }
  
  .container #tiktok {
    color: white;
    font-size: 45px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.3s;
  }

  .container #tiktok:hover {
    font-size: 55px;
  }

  .container #twitter {
    color: white;
    font-size: 45px;
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-50%, -50%);
    transition-duration: 0.3s;
  }

  .container #twitter:hover {
    font-size: 55px;
  }

  .container #youtube {
    color: white;
    font-size: 45px;
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    transition-duration: 0.3s;
  }

  .container #youtube:hover {
    font-size: 55px;
  }

  .container #discord {
    color: white;
    font-size: 45px;
    position: absolute;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%);
    transition-duration: 0.3s;
  }

  .container #discord:hover {
    font-size: 55px;
  }

  .container #github {
    color: white;
    font-size: 45px;
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
    transition-duration: 0.3s;
  }

  .container #github:hover {
    font-size: 55px;
  }

  .glass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    width: 800px;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.01);
    color: white;
    z-index: 2;
    border-radius: 15px;
    padding: 29px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.09); 
box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.09);
}

